@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@layer components {

  .btn-dark {
    @apply px-4 py-2 bg-black hover:bg-white transition-colors duration-300 text-white hover:text-black border border-white flex items-center space-x-2
  }

  .btn-light {
    @apply px-4 py-2 bg-white hover:bg-black transition-colors duration-300 text-black hover:text-white border border-black hover:border-white flex items-center space-x-2
  }
}